table {
  width: 100%;
}

.form{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.mat-sort-header-container {
  justify-content: center !important;
}
